/* Login.css */
body {
  margin: 0;
  padding: 0;
}

.login-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #131415; /* Dark grey background */
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-rectangle {
  width: 50%;
  height: 70vh;
  background-color: #373c41; /* Vertical grey rectangle */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15vh;
}

.circle {
  width: 130px;
  height: 130px;
  background-image: url("../../assets/logo.jpeg"); /* Replace with the actual path to your image */
  background-size: cover;
  border-radius: 50%;
}

.login-description {
  font-style: italic;
  text-align: center;
  margin-top: 0px;
  margin-bottom: -10px;
  font-size: small;
  color: white;
}

.login-line {
  width: 70%;
  height: 1px;
  background-color: #000; /* Black thin line */
  margin-top: 10px;
}

.loginText {
  color: white;
  margin-top: -10px;
  font: bold;
}

.googleButton {
  width: 250px;
  color: black;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -20px;
  margin-bottom: 20px;
  font-style: Arial;
}

.googleButton:hover {
  background-color: #f1f1f1;
}
