.container {
  height: 20vh;
  width: 40vw;
  background-color: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.button {
  height: 10vh;
  width: 30vw;
  background-color: #d9d9d9;
  border: none;
  cursor: pointer;
  font-size: calc(10px + 1vmin); /* Adjust font size as needed */
  border-radius: 10px;
}
