.product-details {
  height: 50vh;
  width: 40vw;
  background-color: #505050;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.division-second {
  align-items: left;
  color: white;
}

.division {
  display: flex;
  align-items: center;
  color: white;
}

.first,
.fourth {
  height: 10vh;
}

.second {
  height: 15vh;
  flex-direction: column;
}

.third {
  height: 15vh;
}

.starting-bid,
.current-bid {
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.heart-icon,
.timer {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-bid-btn {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-icon img {
  cursor: pointer;
  height: 10vh;
  width: 5vw;
  /* Add additional styling for the heart icon */
}

.place-bid-btn {
  background-color: rgb(0, 94, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  /* Add additional styling for the button */
}

.timer {
  color: red;
  /* Style for the timer */
}

.division-second {
  align-items: left;
}

.countdown-timer {
  padding-left: 10%;
  color: red;
  font-size: 4vh;
}
