/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.product-component-container {
  width: 27vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.greyRectangle {
  width: 25vw;
  height: 25vh;
  background-color: grey;
  display: flex;
  border-radius: 10px;
}

.leftColumn {
  width: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5vw;
}

.squarePicture {
  width: 95%;
  height: 95%;
  background-color: white; /* Set your picture background color */
  border-radius: 10px;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1vw; /* Adjust as needed */
}

.textContainer {
  flex: 1;
  width: 12vw;
  max-width: 12vw; /* Set the maximum width */
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.whiteText {
  color: white;
}
