/* OrdersPane.css */
.orders-container {
  display: flex;
  width: 100vw; /* Use the entire width of the viewport */
  height: 100vh;
}

.orders-right-pane {
  flex: 1; /* Take up remaining space in the container */
  padding: 20px 30px 0px 30px;
  border-left: 1px solid #0d0d0d;
  background-color: #505050;
}

.orders-header {
  font-size: 48px;
  margin-bottom: 35px;
}

.order-item {
  height: 20%;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(65, 65, 65);
  display: flex;
  padding-left: 2%;
  align-items: center; /* Center children vertically */
  margin-bottom: 20px;
}

.order-image {
  width: 17%;
  height: 90%;
  background-color: #ccc;
  border-radius: 10px;
}

.order-details {
  margin-left: 20px;
  flex: 1;
}

.book-info h3 {
  font-weight: bold;
  color: #fff;
}

.purchase-info p {
  font-size: 105%;
}

.additional-image {
  width: 5%;
  background-color: #ccc;
}
